<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ibrahimshaltout.test">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".ToDoList.AddTaskActivity" />
        <activity android:name=".ToDoList.ToDoListActivity" />
        <activity android:name=".signup.individual.ChooseFieldActivity" />
        <activity android:name=".CorporateProfile.JobOfferActivity" />
        <activity android:name=".CorporateProfile.EventActivity" />
        <activity android:name=".AcademyProfile.CourseActivity" />
        <activity android:name=".CorporateProfile.CorporateProfileActivity" />
        <activity android:name=".AcademyProfile.AcademyProfileActivity" />
        <activity android:name=".UniversityProfile.UniversityProfileActivity" />
        <activity android:name=".IntroActivity" />
        <activity android:name=".OtherProfileActivity" />
        <activity android:name=".messages.StatusUpdateActivity" />
        <activity android:name=".search.SearchActivity" />
        <activity android:name=".FriendsActivity" />
        <activity android:name=".messages.ChatActivity" />
        <activity android:name=".tracks.CurrentTrackProfileActivity" />
        <activity android:name=".tracks.PathProfileActivity" />
        <activity android:name=".tracks.ChoosePathActivity" />
        <activity android:name=".tracks.TrackProfileDetailsActivity" />
        <activity android:name=".tracks.TrackProfileActivity" />
        <activity android:name=".tracks.AddNewTrackActivity" />
        <activity android:name=".newsfeed.post.AddNewPostActivity" />
        <activity android:name=".notification.NotificationActivity" />
        <activity android:name=".messages.MessageActivity" />
        <activity android:name=".Profile.UserProfileActivity" />
        <activity android:name=".menu_bar.PrivacyPolicy" />
        <activity android:name=".menu_bar.AboutUs" />
        <activity android:name=".newsfeed.post.CommentActivity" />
        <activity android:name=".login.ResetPasswordActivity" />
        <activity android:name=".signup.SignupAsActivity" />
        <activity android:name=".signup.individual.SignUpIndividualActivity" />
        <activity android:name=".signup.VerifyEmail" />
        <activity android:name=".signup.YourLocation" />
        <activity android:name=".signup.individual.IndividuaGeneralinfoActivity" />
        <activity android:name=".signup.individual.IndividualCareerinfoActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <service android:name=".notification.firebase_notification.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".notification.firebase_notification.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
    </application>
</manifest>